<html ng-app="questionRoster">
  <head>
    <title>Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="controllers/QuestionsController.js"></script>
    <script src="services/QuestionsFactory.js"></script>
  </head>
  <body>
    <div class="container">
      <div ng-controller="QuestionsCtrl">
      <h1>Get to know your classmates!!!</h1>
      <div class="col-md-4">
        <h4>1. What is your name?</h4>
        <form ng-submit="QuestionsFactory.addAnswer()" class="form-inline" role="form">
          <div class="form-group">
            <input type="text" ng-model="QuestionsFactory.answerOne" class="form-control" placeholder="Enter your name here">
          </div>

          <h4>2. What is your favorite activity?</h4>
            <div class="form-group">
              <input type="text" ng-model="QuestionsFactory.answerTwo" class="form-control" placeholder="Say something....">
            </div>

            <h4>3. Do you think that mitch looks like that one guy from backstreet boys?</h4>
              <div class="form-group">
                <input type="text" ng-model="QuestionsFactory.answerThree" class="form-control" placeholder="Yes or No..">
              </div>

          </div>
        <button name="submit" class="btn btn-default">Submit</button>
        </form>

    <div class="row">
        <div class="col-md-6">
            <h2 ng-show="answers.length">Answers to questions</h2>
              <p ng-repeat="item in answers">

                1.  {{item.answerOne}} <br>
                2.  {{item.answerTwo}} <br>
                3.  {{item.answerThree}}

              </p>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
